<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension="woff" mimeType="application/font-woff" />
            <mimeMap fileExtension="woff2" mimeType="application/font-woff" /> 
         </staticContent>
        <defaultDocument>
            <files>
                <add value="login.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration> 